# Compiled class files
*.class

# Log files
*.log
*.log.*
/logs/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Environment files
.env
.env.local
.env.*.local
openmrs-module-radiology/.env

# --- IDEs and Editors ---

# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/dictionaries/
.idea/caches/
.idea/libraries/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata/
tmp/
*.tmp
*.bak
*.swp
*~
*~.nib
local.properties
.classpath
.project
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

# Netbeans
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# VS Code
.vscode/


# --- Build Tools ---

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/

# --- Dependency Managers ---
node_modules/
bower_components/
openmrs-module-radiology/omod/node/
openmrs-module-radiology/omod/node_modules/
openmrs-module-radiology/omod/bower_components/

# --- OS Specific ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
